<html>
  <body>
    <table border="1px solid">
      <thead style="font-weight: bold;">
        <td>Level</td>
        <td>Identifier</td>
        <td>Query</td>
        <td>Origin</td>
      </thead>
      <tbody>
        <% [:criticals, :warnings].each do |level| -%>
          <% results.send(level).each do |item| -%>
            <tr>
              <td><%= level[0..-2] %></td>
              <td><%= item.identifier %></td>
              <td><%= item.query %></td>
              <td><%= item.origin %></td>
            </tr>
          <% end -%>
        <% end -%>
      </tbody>
    </table>
  </body>
</html>
