<html>
  <body>
    <table border="1px solid">
      <thead style="font-weight: bold;">
        <td>Level</td>
        <td>Identifier</td>
        <td>Query</td>
        <td>Origin</td>
      </thead>
      <tbody>
        <% (certain_results + uncertain_results).each do |item| -%>
          <tr>
            <td><%= item.certainity_level %></td>
            <td><%= item.identifier %></td>
            <td><%= item.query %></td>
            <td><%= item.origin %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </body>
</html>
